<mat-card *ngFor="let p of arregloPersona" class= "tarjeta">
    <mat-card-title>Nombre: </mat-card-title><mat-card-subtitle class="color-blanco">{{p.nom}}</mat-card-subtitle>
    <mat-card-title>Apellido: </mat-card-title><mat-card-subtitle class="color-blanco">{{p.ape}}</mat-card-subtitle>
    <mat-card-title>Edad: </mat-card-title><mat-card-subtitle class="color-blanco">{{p.ed}}</mat-card-subtitle>
    <mat-card-title>Telefono: </mat-card-title><mat-card-subtitle class="color-blanco">{{p.tel}}</mat-card-subtitle>
</mat-card>




    