.formulario {
    width: 300px;
    background-color: lightblue;
  }


 .datos {
    margin-right: 15px;


  }

  .tarjeta {
    background-color: darkgreen;

  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  