<div class="formulario">
 <label class= "datos" for="nombre"> <b>NOMBRE</b> </label>
 <input [(ngModel)]="nombre" type="text" name="nombre" />
 <br>
 <label class= "datos" for="apellido"> <b>APELLIDO</b> </label>
 <input [(ngModel)]="apellido" type="text" name="apellido" />
 <br>
 <label class= "datos" for="edad"> <b>EDAD</b> </label>
 <input [(ngModel)]="edad" type="number" name="edad" />
 <br>
 <label class= "datos" for="telefono"> <b>TELEFONO</b> </label>
 <input [(ngModel)]="telefono" type="number" name="telefono" />
 <br>
 
 
 
 
 
 
 
 
 
 
 <div class="centrado"> 
     <button (click)="agregarDatos()"> AGREGAR </button>
 </div>
</div>
 



 <app-tarjeta-persona *ngFor="let persona of arregloDatos" [nombre]="persona.nombre" [apellido] = "persona.apellido" [edad] = "persona.edad" [tel] = "persona.tel" >
    
   
